*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border{
    border: 5px solid gray;
    margin: 30px;
}




.row{
    display: flex;
}


.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

.border .header{
    background-color:#52A7F9;
    height: 100px;
}

.header p{
   color: white;
   font-size: 35px;
   padding: 25px;
   margin-left: 5px;
   font-family: sans-serif;
}



.container{
    width: 70%;
    margin: 5px auto;

}


.left{
    height: 350px;
    background-color: #6FC041;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left p{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    
}


.right{
    margin-left: 5px;
    height: 350px;
    background-color:#B36AE2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right p{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
   
}


.twin1{
    height: 350px;
    background-color: #F3901A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twin1 p{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
   
}


.twin2{
    height: 350px;
    background-color: #F3901A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

}

.twin2 p{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.border .footer{
    background-color:#0365C0;
    height: 70px;
}

.footer p{
    color: white;
    font-size: 35px;
    padding: 16px;
    margin-left: 15px;
    font-family: sans-serif;
 }